.hero {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000; 
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: relative;
}
.textes{
  position: absolute;
  top: 18%;
  left: 6rem;
}
.textes h1{
  color: white;
  font-size: 6.1rem;
  font-weight: bold;
}
.textes span{
  color: red;
}
.textes p{
  color: white;
  font-size: 28px;
  padding-right: 41rem;
  margin-block: 15px 25px;
}

.buttonsHero{
  display: flex;
  align-items: center;
  gap: 20px;
}
.buttonsHero .btn1{
  background-color: red;
  padding: 20px 40px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
   align-items: center;
  display: flex;
  gap: 10px;
}
.buttonsHero a{
  text-decoration: none;
}
.buttonsHero .btn2{
  background-color: gray;
  padding: 20px 40px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 10px;
}
