.review {
    display: flex;
    align-items: center;
        overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
}
.review::-webkit-scrollbar {
  display: none;
}

.rev{
    background-color: black;
}
.rev h1{
    color: white;
    padding: 40px 70px;
    font-size: 45px;
}
.review_vid{
    padding: 20px 20px;

}
.review_vid h5{
    color: white;
    font-size: 20px;
    padding-top: 15px;
}
.rev1 img{
    width: 12rem;
    height: 42vh;
    border-radius: 20px;
   
}
.rev1{
     position: relative;
     cursor: pointer;
    transition: transform 0.3s ease;
}
.rev1:hover{
     transform: scale(1.05);    
}
.njma{
    position: absolute;
    top: 1.9%;
    left: 7%;
    background-color: rgba(0, 0, 0, 0.756);
    border-radius: 5px;
    display: flex;
    /* align-items: center; */
    gap: 5px;
    padding: 4px;
}
.njma span{
    color: red;
}